@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Megadesk!</h1>
    <img src="/images/Computer-Desk-Transparent-PNG.png" alt="desk image" title="desk image" /><br />
    <a class="navbar-brand fontSize" asp-area="" asp-page="/Quotes/Create">Get a Quote</a><br />
</div>
