@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Megadesk!</h1>
    <a class="navbar-brand" asp-area="" asp-page="/Quotes/Create">Get a Quote</a><br />
    <img src="/images/desk.jpg" alt="desk image" title="desk image"/>
</div>
