@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Desk Quote</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="navbar-brand" asp-area="" asp-page="/Quotes/Index">Get a Quote</a><br />
    <img href="/desk.jpg" title="desk image"/>
</div>
