@page
@model MegaDeskWeb_Farrwest.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quote.customerName" class="control-label"></label>
                <input asp-for="Quote.customerName" placeholder="John..." class="form-control" />
                <span asp-validation-for="Quote.customerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.width" class="control-label"></label>
                <input asp-for="Quote.width" placeholder="24 - 96 inches" class="form-control" />
                <span asp-validation-for="Quote.width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.depth" class="control-label"></label>
                <input asp-for="Quote.depth" placeholder="12 - 48 inches" class="form-control" />
                <span asp-validation-for="Quote.depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.numOfDrawers" class="control-label"></label>
                <input asp-for="Quote.numOfDrawers" placeholder="0 - 7" class="form-control" />
                <span asp-validation-for="Quote.numOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.desktopMaterial" class="control-label"></label>
                <select asp-for="Quote.desktopMaterial" class="form-control" onchange="showImage(this)">
                    <option value="">Select one...</option>
                    <option value="0">Laminate</option>
                    <option value="1">Oak</option>
                    <option value="2">Rosewood</option>
                    <option value="3">Veneer</option>
                    <option value="4">Pine</option>
                </select>
                
                <div class="img-thumbnail" id="materialImage" hidden>

                </div>
                <span asp-validation-for="Quote.desktopMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.deliveryOptions" class="control-label"></label>
                <select asp-for="Quote.deliveryOptions" class="form-control" >
                    <option value="">Select one...</option>
                    <option value="0">Three</option>
                    <option value="1">Five</option>
                    <option value="2">Seven</option>
                </select>
                <span asp-validation-for="Quote.deliveryOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
